<!-- page-content  -->
<main class="page-content pt-2">
  <div class="container-fluid p-5">
    <h2>Zmień ustawienia konta</h2>
    <p>Zmień hasło, avatar, sprawdź okres ważności konta</p>
    <hr>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <p>Obecny avatar:</p>
      <div class="user-pic">
        <% if current_user.avatar.attached? %>
          <%= image_tag(url_for(current_user.avatar), :alt => "user_picture") %>
        <% else %>
          <%= image_tag("adminpanel/user.jpg", :alt => "user_picture") %>
        <% end %>
      </div>
      <p>Zmień avatar:</p>
      <div class="input-group">
        <span class="input-group-btn">
          <span id="browse" class="btn btn-small btn-info">Przeglądaj</span>
          <%= f.file_field :avatar, id: "avatar-preview", style: "display: none;" %>
        </span>
        <span class="form-control"></span>
      </div>
      <hr>

      <div class="field">
        <%= f.label "Nazwa użytkownika" %><br/>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: current_user.username, :class => "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email %> <i>(Nie jest wymagany)</i><br/>
        <%= f.email_field :email, autocomplete: "email", placeholder: current_user.email, :class => "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label "Nowe hasło" %> <i>(Pozostaw puste jeśli nie chcesz go zmieniać)</i><br/>
        <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
        <% if @minimum_password_length %>
          <br/>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label "Potwierdź nowe hasło" %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
      </div>

      <div class="field">
        <%= f.label "Obecne hasło" %> <i>(wpisz obecne hasło aby zatwierdzić zmiany)</i><br/>
        <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
      </div>

      <hr>
      <div class="actions">
        <%= f.submit "Zatwierdź" %>
      </div>
    <% end %>
  </div>
</main>
<!-- page-content" -->
<!-- page-wrapper -->

<script>

</script>
