<style>
  .gallery-block {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .gallery-block .heading {
    margin-bottom: 50px;
    text-align: center;
  }

  .gallery-block .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  .gallery-block.cards-gallery h6 {
    font-size: 17px;
    font-weight: bold;
  }

  .gallery-block.cards-gallery .card {
    transition: 0.4s ease;
  }

  .gallery-block.cards-gallery .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  }

  .gallery-block.cards-gallery .card-body {
    text-align: center;
  }

  .gallery-block.cards-gallery .card-body p {
    font-size: 15px;
  }

  .gallery-block.cards-gallery a {
    color: #212529;
  }

  .gallery-block.cards-gallery a:hover {
    text-decoration: none;
  }

  .gallery-block.cards-gallery .card {
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  }

  @media (min-width: 576px) {

    .gallery-block .transform-on-hover:hover {
      transform: translateY(-10px) scale(1.02);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
  }
</style>
<main class="page-content pt-2">
  <div class="container-fluid p-5">
    <h2>Wydarzenia</h2>
    <hr>
    <div class="text-center d-flex flex-column justify-content-center" style="margin:0 35%">
      <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#createEventModal">Dodaj
        wydarzenie
      </button>
    </div>
    <%= render :template => 'events/new' %>
    <% if @events.count == 0 %>
      <div class="alert alert-warning">
        <strong>W tej chwili nie istnieją żadne wydarzenia.</strong>
      </div>
    <% else %>
      <section class="gallery-block cards-gallery">
        <div class="container">
          <div class="row">
            <% @events.each do |event| %>
              <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                  <%= link_to events_path, :class => "lightbox" do %>
                    <% if event.image.attached? %>
                      <%= image_tag(url_for(event.image), :alt => "Event image", :class => "card-img-top") %>
                    <% else %>
                      <%= image_tag('events/image_not_available.png', :alt => "Event image", :class => "card-img-top") %>
                    <% end %>
                  <% end %>
                  <div class="card-body">
                    <h6><%= link_to truncate(event.title, length: 35, separator: ' '), events_path %></h6>
                    <p class="text-muted card-text"><%= truncate(strip_tags(event.body.to_s), length: 100, separator: ' ') %></p>
                    <p class="text-muted card-text font-italic">Kategoria: <%= event.category.title %></p>
                    <hr>

                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <% if event.important %>
                      <span class="fa-stack" data-toggle="tooltip" title="To wydarzenie ma priorytet" style="font-size: 18px">
                          <i class="fa fa-square fa-stack-2x" style="color: #dc3545"></i>
                          <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
                        </span>
                        <% end %>
                        <% if event.announcement %>
                      <span class="fa-stack" data-toggle="tooltip" title="To wydarzenie jest ogłoszeniem" style="font-size: 18px">
                          <i class="fa fa-square fa-stack-2x" style="color: dodgerblue"></i>
                          <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                        </span>
                        <% end %>
                      </div>
                      <div class="btn-group">
                        <%= link_to edit_event_path(event) do %>
                          <button class="btn btn-warning btn-sm" style="margin: 0px 10px"><i class="fa fa-edit"></i> Edytuj</button>
                        <% end %>
                        <%= link_to destroy_event_path(event), method: :delete, data: {:confirm => "Are you sure?"} do %>
                          <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Usuń</button>
                        <% end %>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</main>