<style>

</style>
<main class="page-content pt-2">
  <div class="container-fluid p-5">
    <h2>Zakładki</h2>
    <hr>
    <div class="card-columns">
      <% @main_tabs.each do |tab| %>
        <div class="card bg-light">
          <div class="card-body text-center">
            <h3 class="card-text"><b><%= tab.title %></b>
              <%= link_to edit_main_tab_path(id: tab.slug), :class => 'table-link', :style => "font-size: 18px" do %>
              <span class="fa-stack" data-toggle="tooltip" title="Edytuj">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
              </span>
              <% end %>
            </h3>
            <hr>
            <% if tab.sub_tabs.count == 0 %>
              <div class="alert alert-warning">
                <p></p>
                <strong>Obecnie zakładka <%= tab.title %> nie posiada zakładek wewnętrznych</strong>
                <p></p>
              </div>
            <% else %>
              <table class="table">
                <thead class="thead-light">
                <tr>
                  <th><i class="fas fa-signature">&ensp;</i>Nazwa</th>
                  <th><i class="fas fa-link">&ensp;</i>Pełny Adres</th>
                  <th></th>
                </tr>
                </thead>
                <tbody class="sortable">
                <% tab.sub_tabs.where(:status => 1).order(:sort).each_with_sortable_id do |sub_tab| %>
                  <tr id="<%= sub_tab.sortable_id %>">
                    <td><%= sub_tab.title %></td>
                    <td><%= tab.slug + "/" + sub_tab.slug %></td>
                    <td>
                      <%= link_to show_sub_tab_path(main_tab_id: tab.slug, id: sub_tab.slug), :class => 'table-link' do %>
                        <span class="fa-stack" data-toggle="tooltip" title="Otwórz">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                        </span>
                      <% end %>
                      <%= link_to edit_sub_tab_path(id: sub_tab.slug), :class => 'table-link' do %>
                        <span class="fa-stack" data-toggle="tooltip" title="Edytuj">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                        </span>
                      <% end %>
                      <%= link_to tabs_path(id: sub_tab.id), :class => 'table-link danger', :method => :delete, data: {:confirm => "You sure?"} do %>
                    <span class="fa-stack" data-toggle="tooltip" title="Usuń">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                    </span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <hr>
    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#createTabModal">Dodaj
      zakładkę
    </button>
    <%= render :template => 'sub_tabs/new' %>
  </div>
</main>