<main class="page-content pt-2">
  <div class="container-fluid p-5">
    <div class="container"><h2><%= @sub_tab.title %></h2>
      <hr></div>

    <%= form_for @sub_tab, url: update_sub_tab_path do |f| %>
      <div class="container">
        <p>
          <%= f.label "Nazwa" %><br>
          <%= f.text_field :title, id: 'source', :class => "form-control" %>
        </p>
        <p>
          <%= f.label "Adres" %>
          <br>
          <%= f.text_field :slug, id: 'result', readonly: true, :class => "form-control" %>
        </p>
        <p>
          <%= f.label :body, "Zawartość zakładki" %><br>
          <%= f.rich_text_area :body, :spellcheck => false %>
        </p>
        <p>
          <%= f.submit "Zatwierdź zmiany" %>
        </p>
      </div>
    <% end %>
  </div>
</main>
<script>
    //Sub-tabs address input
    const $source = document.querySelector('#source');
    const $result = document.querySelector('#result');

    String.prototype.escapeDiacritics = function()
    {
        return this.replace(/ą/g, 'a').replace(/Ą/g, 'A')
            .replace(/ć/g, 'c').replace(/Ć/g, 'C')
            .replace(/ę/g, 'e').replace(/Ę/g, 'E')
            .replace(/ł/g, 'l').replace(/Ł/g, 'L')
            .replace(/ń/g, 'n').replace(/Ń/g, 'N')
            .replace(/ó/g, 'o').replace(/Ó/g, 'O')
            .replace(/ś/g, 's').replace(/Ś/g, 'S')
            .replace(/ż/g, 'z').replace(/Ż/g, 'Z')
            .replace(/ź/g, 'z').replace(/Ź/g, 'Z');
    };

    const typeHandler = function(e) {
        var text = e.target.value;
        $result.value = text.replace(/\s+/g, '-').toLowerCase().escapeDiacritics();
    };
    $source.addEventListener('input', typeHandler);
</script>