<!DOCTYPE html>
<html lang="pl">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Szkoła Podstawowa nr 60</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!--  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"-->
  <!--        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">-->
  <!--  <link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">-->
  <%= javascript_pack_tag "application", 'data-turbolinks-track': 'reload' %>
</head>
<body>

<section>
  <div id="dim-cover"></div>
  <div class="banner banner-bg text-center">
    <%= link_to root_path, :class => "disable-underline" do %>
      <h1 class="text-outline" style="color: white">Szkoła Podstawowa nr 60</h1>
      <h1 class="text-outline" style="color: white; margin-bottom: 15px">im. Wojciecha Bogusławskiego w
        Poznaniu</h1>
    <% end %>
  </div>
  <nav class="navbar navbar-expand-md bg-semitransparent sticky-top draw-shadow">
    <div class="navbar-header">
      <button type="button" id="toggler" class="navbar-toggler custom-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="topNavBar">
      <ul class="nav navbar-nav mx-auto">
        <% @main_tabs.each do |main_tab| %>
          <%= render :template => 'main_tabs/show_button', :locals => {:main_tab => main_tab} %>
          <% if main_tab == @main_tabs.second %>
            <li class="dropdown">
              <button class="btn btn-navbar text-outline" type="button">
                <%= "Wydarzenia" %>
                <i class="fa fa-angle-down"></i>
              </button>
              <div class="dropdown-menu dropdown-navbar">
                <% @categories.each do |category| %>
                  <%= link_to show_category_path(id: category.slug) do %>
                    <button class="dropdown-item" type="button"><span><%= category.title %></span></button>
                  <% end %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= yield %>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p><b>Szkoła podstawowa nr 60 im. Wojciecha Bogusławskiego w Poznaniu</b></p>
          <p>ul. Boranta 2, 61-608 Poznań</p>
          <p>tel: 606 141 555</p>
          <p>fax: 61 820 21 72</p>
          <p>sp60@poznan.interklasa.pl</p>
          <p class="h6"><a class="text-green ml-2" href="https://github.com/Kanewersa" target="_blank">Created by</a>
          </p>
        </div>
        <hr>
      </div>
    </div>
    <div class="row" style="width: 100%">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-3">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</section>
</body>
</html>
