<%= stylesheet_link_tag 'custom/bootstrap-datepicker3.standalone.min' %>
<style>
  .hidden {
    display: none;
  }
</style>
<main class="page-content pt-2">
  <div class="container-fluid p-5">
    <div class="container"><h2><%= @event.title %></h2>
      <hr>
    </div>
    <%= form_for @event, :remote => true, authenticity_token: true, url: update_event_path do |f| %>
      <div class="container">
        <p>
          <%= f.label "Nazwa wydarzenia:", :class => "h5" %><br>
          <%= f.text_field :title, id: 'source', :class => "form-control" %>
        </p>
        <p>
          <%= f.label "Adres:", :class => "h5" %>
          <br>
          <%= f.text_field :slug, id: 'result', disabled: true, :class => "form-control" %>
        </p>
        <p>
          <%= f.label "Wybierz kategorię:", :class => "h5" %><br>
          <%= f.select :category_id, Category.all.map { |t| [t.title, t.id] }, {}, {class: "form-control"} %>
        </p>
        <p>
          <%= f.label "Priorytet:", :id => "important", :class => "h5" %>
          <%= f.check_box :important %>
          <%= f.label "Ogłoszenie:", :class => "h5" %>
          <%= f.check_box :announcement %>
        </p>
        <div class="container hidden" id="date-toggle">
          <%= f.label "Ważny do:", :id => "valid_date", :class => "h6" %>
          <%= f.text_field :valid_date, :data => {:provide => "datepicker"}, :class => "form-control w-25" %>
          <br>
        </div>
        <p>
          <%= f.label "Obraz:", :class => "h5" %>
        </p>
        <div class="input-group">
            <span class="input-group-btn">
              <span id="browse" class="btn btn-small btn-warning">Przeglądaj</span>
              <%= f.file_field :image, id: "image-name-preview", style: "display: none;" %>
            </span>
          <span class="form-control"></span>
        </div>
        <p>
          <br>
          <%= f.label "Zawartość:", :class => "h5" %><br>
          <%= f.rich_text_area :body, :spellcheck => false %>
        </p>
        <p>
          <%= f.label "Galeria:", :class => "h5" %><br>
        </p>
        <div class="alert alert-danger">
          <strong>Niedostępne</strong>
        </div>
        <br>
        <p>
          <%= f.submit "Zatwierdź zmiany", :class => "btn btn-warning" %>
          <%= f.submit "Podgląd", :class => "btn btn-success" %>
        </p>
      </div>
    <% end %>
  </div>
</main>
<div class="modal fade" id="preview-modal">
  <div class="modal-dialog modal-xl" style="max-width: 1366px">
    <div id="event-preview" class="modal-content">

    </div>
  </div>
</div>
<%= javascript_pack_tag "datepicker.js" %>