<%= stylesheet_link_tag 'custom/bootstrap-datepicker3.standalone.min' %>
<div class="modal fade" id="createEventModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Dodawanie nowego wydarzenia</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <%= form_for :event, :remote => true, authenticity_token: true, url: events_path do |f| %>
        <!-- Modal body -->
        <div class="modal-body">
          <p>
            <%= f.label "Nazwa wydarzenia:", :class => "h5" %><br>
            <%= f.text_field :title, id: 'source', :class => "form-control" %>
          </p>
          <p>
            <%= f.label "Adres:", :class => "h5" %>
            <br>
            <%= f.text_field :slug, id: 'result', disabled: true, :class => "form-control" %>
          </p>
          <p>
            <%= f.label "Wybierz kategorię:", :class => "h5" %><br>
            <%= f.select :category_id, Category.all.map { |t| [t.title, t.id] }, {}, {class: "form-control"} %>
          </p>
          <p>
            <%= f.label "Priorytet:", :id => "important", :class => "h5" %>
            <%= f.check_box :important %>
            <%= f.label "Ogłoszenie:", :class => "h5" %>
            <%= f.check_box :announcement %>
          </p>
          <div class="container hidden" id="date-toggle">
            <%= f.label "Ważny do:", :id => "valid_date", :class => "h6" %>
            <%= f.text_field :valid_date, :data => {:provide => "datepicker", :date_format => "yyyy-mm-dd"}, :class => "form-control w-25" %>
            <br>
          </div>
          <p>
            <%= f.label "Obraz:", :class => "h5" %>
          </p>
          <div class="input-field">
            <div class="event-image-input"></div>
          </div>
          <p>
            <br>
            <%= f.label "Zawartość:", :class => "h5" %><br>
            <%= f.rich_text_area :body, :spellcheck => false %>
          </p>
          <p class="mb-0">
            <%= f.label "Galeria:", :class => "h5" %><br>
          </p>
          <div class="input-field">
            <div class="event-gallery-input"></div>
          </div>
          <%= hidden_field_tag 'event[cache][]', '' %>
          <br>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <%= f.submit "Dodaj wydarzenie", :class => "btn btn-warning" %>
          <%= f.submit "Podgląd", :class => "btn btn-success", :id => 'preview-button' %>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="preview-modal">
  <div class="modal-dialog modal-xl">
    <div id="preview-body" class="modal-content">
    </div>
  </div>
</div>
<%= render template: 'requestables/response-success-modal' %>
<%= render template: 'requestables/response-error-modal' %>
<%= javascript_pack_tag "datepicker.js" %>