<style>
  .gallery-block {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .gallery-block .heading {
    margin-bottom: 50px;
    text-align: center;
  }

  .gallery-block .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  .gallery-block.cards-gallery h6 {
    font-size: 17px;
    font-weight: bold;
  }

  .gallery-block.cards-gallery .card {
    transition: 0.4s ease;
  }

  .gallery-block.cards-gallery .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  }

  .gallery-block.cards-gallery .card-body {
    text-align: center;
  }

  .gallery-block.cards-gallery .card-body p {
    font-size: 15px;
  }

  .gallery-block.cards-gallery a {
    color: #212529;
  }

  .gallery-block.cards-gallery a:hover {
    text-decoration: none;
  }

  .gallery-block.cards-gallery .card {
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  }

  @media (min-width: 576px) {

    .gallery-block .transform-on-hover:hover {
      transform: translateY(-10px) scale(1.02);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
  }
</style>
<div class="col-md-6 col-lg-4">
  <div class="card border-0">
    <div class="card-body">
      <!-- Body -->
      <h4 class="font-weight-bold">Zgłoszenie nr <%= request.id %></h4>
      <h6 class="text-muted font-italic">od <%= request.user.fullname %></h6>
      <p class="font-italic text-muted"><%= status_name(request.status) %></p>
      <hr>
      <h5 class="card-text">
        <%= action_name(request.action) %>
        <%= resource_type_name(request.requestable_type) %>:
      </h5>
      <p class="card-text font-weight-bold">
        "<%= find_request_object(request).title %>"
      </p>
      <hr>

      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group mx-auto">
          <% if current_user.has_role?(:admin) && request.status == "pending" %>
            <%= link_to accept_request_path(:id => request.id), :method => :post do %>
              <button type="button" class="btn btn-success">Zaakceptuj</button>
            <% end %>
            <button type="button" class="btn btn-warning">Edytuj</button>
            <%= link_to reject_request_path(:id => request.id), :method => :post do %>
              <button type="button" class="btn btn-danger">Odrzuć</button>
            <% end %>
          <% end %>
          <% if !current_user.has_role?(:admin) && request.status != "approved" %>
            <button type="button" class="btn btn-warning">Edytuj</button>
          <% end %>
          <% if !current_user.has_role?(:admin) && request.status == "pending" %>
            <button type="button" class="btn btn-danger">Anuluj</button>
          <% end %>
          <% if !current_user.has_role?(:admin) && (request.status == "canceled" || request.status == "rejected") %>
            <%= link_to resend_request_path(:id => request.id), :method => :post do %>
              <button type="button" class="btn btn-warning">Wyślij ponownie</button>
            <% end %>
          <% end %>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#createEventModal">
            Podgląd
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>