<div class="container">
  <h1 class="text-center">Stacja pogodowa</h1>
  <h5 class="text-center">W dniu 14 sierpnia 2014 roku na budynku szkoły uruchomiona została stacja pogodowa.
    Została podłączona do światowego systemu prognoz pogody wunderground.com, gdzie widoczna jest pod nazwą
    "Poznań-Naramowice".</h5>
  <hr style="margin: 20px 0 20px 0">


  <div class="card">
    <div class="card-header" style="width: 100%; padding: 0; border-bottom: none">
      <%= image_tag "weather-background.jpg", :style => "width: 100%; height: 450px; filter: brightness(.95) blur(2px)" %>
      <div class="overlay-panel">
        <div style="background-color: rgba(0,0,0, 0.4);
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 80%;
            padding: 20px;
            text-align: center;">
          <span class="text-outline" style="font-size: 30px">Poznań Naramowice</span>
          <hr style="border-top: 1px solid rgba(255,255,255,1); margin: 5px auto 0 auto; width: 80%;">
          <br>


          <div class="row">


            <div class="col-lg-4 col-md-5" style="padding: 5px 0 30px 0">
              <i class="fas fa-cloud-showers-heavy text-outline" style="font-size: 50px"></i><br><br>
              <span style="font-size: 46px"><%= @rain %></span>
              <span style="font-size: 30px"> mm/h</span>
            </div>
            <div class="col-lg-4 col-md-5" style="padding: 5px 0 30px 0">
              <i class="fas fa-wind text-outline" style="font-size: 50px"></i><br><br>
              <span style="font-size: 46px"><%= @wind_speed %></span>
              <span style="font-size: 30px"> km/h</span>
            </div>
            <div class="col-lg-4 col-md-5" style="padding: 5px 0 30px 0">
              <i class="fas fa-thermometer-three-quarters text-outline" style="font-size: 50px"></i><br><br>
              <span style="font-size: 46px"><%= @barometer %></span>
              <span style="font-size: 30px"> hPa</span>
            </div>


          </div>


        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">


        <div class="col-lg-4 col-md-5" style="padding: 30px 0 30px 30px">
          <div class="row">
            <!--Current weather image-->
            <div class="col-4" style="max-height: 0">
              <%= get_weather_icon %>
<!--                <div class="icon sunny" style="max-height: 0; right: 50px; top: 30px">-->
<!--                  <div class="sun" style="box-shadow: 0 0 0 0.375em #FFF39D; color: transparent">-->
<!--                    <div class="rays"></div>-->
<!--                  </div>-->
<!--                </div>-->

                <!--                <i class="fas fa-sun" style="font-size: 50px"></i>-->

            </div>
            <!--Current weather data-->
            <div class="col-8">
              <span style="color:deepskyblue; font-size: 40px"><%= @temperature %>&#176;
              <span style="font-size: 30px">C</span>
              </span>
              <span style="color: lightslategray; font-size: 18px">/</span>
              <span style="color: lightslategray; font-size: 18px"><%= @lowest_temperature %>&#176;
              <span style="font-size: 18px">C</span>
              </span>
              <p class="font-italic" style="font-size: 14px"><%= Time.now.strftime("%A %Y.%m.%d") %></p>
            </div>
          </div>
        </div>


        <div class="col-lg-8 col-md-7">
          <div class="row text-center" style="margin-left: 0">
            <% 5.times do %>
              <div class="col-lg-2" style="padding: 0; color: dimgray">
                <div style="height: 150px; border-left: 1px solid rgba(0,0,0,.5)">
                  <div style="vertical-align: middle; font-size: 16px">
                    <div style="margin-bottom: 10px"><%= get_day_name %></div>


                    <i class="fas fa-sun" style="font-size: 24px; margin-bottom: 10px"></i>
                    <div>
                      24&#176;
                      <span style="font-size: 12px">C</span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>