<!-- Slide show -->
<div id="slides" class="carousel slide" data-ride="carousel" align="center">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <% x = 0 %>
    <% @events.first(@events_count - 6).each do |item| %>
      <% if x == 1 %>
        <li data-target="#slides" data-slide-to="<%= x %>" class="active"></li>
      <% else %>
        <li data-target="#slides" data-slide-to="<%= x %>"></li>
      <% end %>
      <% x = x + 1 %>
    <% end %>
  </ul>
  <!-- The slideshow -->
  <div class="carousel-inner" role="listbox">
    <%= %>
    <% @events.first(@events_count - 6).each do |item| %>
      <% if @events.second == item %>
        <div class="carousel-item active">
      <% else %>
        <div class="carousel-item">
      <% end %>
      <%= image_tag(url_for(item.image), :alt => 'carousel-item-image', :class => "img-cover", :width => 1920, :height => 975) %>
      <div class="carousel-caption">
        <div class="card bg-transparent-dark mb-4 shadow-sm">
          <h3 class="text-outline"><%= item.title %></h3>
          <p class="text-outline"><%= truncate(strip_tags(item.body.to_s), length: 400, separator: ' ') %></p>
          <div class="card-img-overlay">
            <%= link_to "Zobacz więcej...", show_event_path(:category_id => item.category.slug, :id => item.slug), :class => "btn btn-invisible", :style => 'font-size: 20px' %>
          </div>
        </div>
      </div>
      </div>
    <% end %>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slides" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slides" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<hr/>
<div class="container" align="center">
  <h1 style="padding-top: 100px; padding-bottom: 50px">| Aktualności |</h1>
  <div class="container">
    <div class="row">
      <% @events.drop(@events_count - 6).each do |event| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-hovereffect">
              <%= image_tag(url_for(event.image), :alt => "Card-image", :class => "card-img-top", :style => "width:100%") %>
              <div class="card-overlay text-outline">
                <h2><%= event.title %></h2>
                <p><%= link_to "Zobacz więcej...", show_event_path(:category_id => event.category.slug, :id => event.slug) %></p>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text"><%= truncate(strip_tags(event.body.to_s), length: 300, separator: ' ') %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "Zobacz więcej...", show_event_path(:category_id => event.category.slug, :id => event.slug), :class => "btn btn-see" %>
                </div>
                <small class="text-muted"><%= distance_of_time_in_words(Time.now - event.updated_at) + " temu" %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="blackboard card card-color img-fluid">
  <%= image_tag("blackboard-vertical.png", alt: "mobile-back", class: "blackboard-bg-mobile") %>
  <%= image_tag("blackboard.png", alt: "back", class: "card-img-top blackboard-bg") %>
  <div class="card-img-overlay blackboard-overlay h-100">
    <div class="blackboard-group row justify-content-center align-items-center" style="display: flex; flex-direction: row; height: 90%">
      <div class="blackboard-item col-md-2 text-center" style="width: 100%;">
        <i class="blackboard-icon far fa-calendar-alt fa-6x text-outline"></i>
        <h4 class="card-title blackboard-title text-outline">PLAN LEKCJI</h4>
        <h4 class="card-text-2 blackboard-text text-outline">Sprawdź by się nie spóźnić!</h4>
        <%= link_to show_sub_tab_path(:main_tab_id => @plan_tab.main_tab.slug, :id => @plan_tab.slug) do %>
          <i class="btn btn-danger blackboard-button">Kliknij tutaj!</i>
        <% end %>
      </div>
      <div class="blackboard-item col-md-2 text-center">
        <i class="blackboard-icon fas fa-info fa-6x text-outline"></i>
        <h4 class="card-title blackboard-title text-outline">I-DZIENNIK</h4>
        <h4 class="card-text-2 blackboard-text text-outline">Zobacz czy zdałeś!</h4>
        <a href="https://iuczniowie.progman.pl/idziennik/login.aspx?ReturnUrl=%2Fidziennik" target="_blank">
          <i class="btn btn-danger blackboard-button">Kliknij
            tutaj!</i></a>
      </div>
      <div class="blackboard-item col-md-2 text-center">
        <i class="blackboard-icon fas fa-theater-masks fa-6x text-outline"></i>
        <h4 class="card-title blackboard-title text-outline">ZAJĘCIA DODATKOWE</h4>
        <h4 class="card-text-2 blackboard-text text-outline">Nie tylko obowiązki!</h4>
        <%= link_to show_sub_tab_path(:main_tab_id => @classes_tab.main_tab.slug, :id => @classes_tab.slug) do %>
          <i class="btn btn-danger blackboard-button">Kliknij tutaj!</i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--#endregion-->
<!--#region Partners carousel  -->

<style>
  @media (max-width: 768px) {
    #recipeInner .carousel-item > div {
      display: none;
    }

    #recipeInner .carousel-item > div:first-child {
      display: block;
    }
  }

  #recipeInner .carousel-item.active,
  #recipeInner .carousel-item-next,
  #recipeInner .carousel-item-prev {
    display: flex;
  }

  /* display 3 */
  @media (min-width: 768px) {

    #recipeInner .carousel-item-right.active,
    #recipeInner .carousel-item-next {
      transform: translateX(33.333%);
    }

    #recipeInner .carousel-item-left.active,
    #recipeInner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
  }

  #recipeInner .carousel-item-right,
  #recipeInner .carousel-item-left {
    transform: translateX(0);
  }
</style>

<% unless @partners.count == 0 %>
  <h1 style="padding-top: 70px; padding-bottom: 10px; text-align: center">| Partnerzy |</h1>
  <div class="container text-center my-3">
    <div class="row mx-auto my-auto">
      <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
        <div id="recipeInner" class="carousel-inner w-100" role="listbox">

          <% @partners.each do |partner| %>
            <% if @partners.first == partner %>
              <div class="carousel-item active">
            <% else %>
              <div class="carousel-item">
            <% end %>
            <div class="col-md-4">
              <div class="card card-body" style="padding: 0">
                <div class="card-hovereffect">
                  <%= image_tag(partner.image, :class => "img-fluid card-img-top") %>
                  <%= link_to partner.link do %>
                    <div class="card-overlay text-outline">
                      <h2><%= partner.name %></h2>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            </div>

          <% end %>

          </div>
          <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
<% end %>

<!--#endregion-->