<article class="index-intro">
  <div class="jumbotron text-outline" style="font-size: 40px; padding-top: 200px">
  </div>
</article>
<hr/>
<h3 align="center" style="font-size: 60px; font-weight: bold"><%= @category.title %></h3>
<hr style="width: 40%"/>
<div class="container" align="center">
  <div class="container">
    <% if @events.count == 0 %>
      <br>
      <h2>ZAKŁADKA NIE POSIADA WYDARZEŃ</h2>
      <br>
      <br>
    <% else %>
      <div class="row">
        <% @events.each do |event| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-hovereffect">
                <%= image_tag(url_for(event.image), :alt => "Card-image", :class => "card-img-top", :style => "width:100%") %>
                <div class="card-overlay">
                  <h2><%= event.title %></h2>
                  <p><%= link_to "Zobacz więcej...", show_event_path(:category_id => event.category.slug, :id => event.slug) %></p>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text"><%= truncate(strip_tags(event.body.to_s), length: 300, separator: ' ') %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to "Zobacz więcej...", show_event_path(:category_id => event.category.slug, :id => event.slug), :class => "btn btn-see" %>
                  </div>
                  <small class="text-muted"><%= distance_of_time_in_words(Time.now - event.updated_at) + " temu" %></small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>