<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description">
  <title>Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- using online links -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!-- using local links -->
  <link rel="shortcut icon" type="image/png" href="assets/adminpanel/favicon.png"/>
</head>
<body>
<div class="page-wrapper sidebar-bg toggled">
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <!-- sidebar-brand  -->
      <div class="sidebar-item sidebar-brand">
        <%= link_to root_path, data: {turbolinks: false} do %>
          <i>SP60 Admin Panel</i>
        <% end %>
        <button id="close-sidebar" class="btn btn-small btn-dark">x</button>
      </div>

      <!-- sidebar-header  -->
      <div class="sidebar-item sidebar-header d-flex flex-nowrap">
        <div class="user-pic">
          <% if current_user.avatar.attached? %>
            <%= image_tag(url_for(current_user.avatar), :alt => "user_picture") %>
          <% else %>
            <%= image_tag("adminpanel/user.jpg", :alt => "user_picture") %>
          <% end %>
        </div>
        <div class="user-info">
              <span class="user-name">
                <strong><%= current_user.username %></strong>
              </span>
          <span class="user-role"> <%= role_name(current_user) %></span>
          <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
              </span>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-item sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Szukaj...">
            <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-menu  -->
      <div class="sidebar-item sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>Ogólne</span>
          </li>
          <li>
            <%= link_to dashboard_path do %>
              <i class="fa fa-solar-panel"></i>
              <span class="menu-text">Pulpit nawigacyjny</span>
            <% end %>
          </li>
          <li>
            <%= link_to tabs_path do %>
              <i class="fa fa-pager"></i>
              <span class="menu-text">Zakładki</span>
            <% end %>
          </li>
          <li>
            <%= link_to events_path do %>
              <i class="fas fa-chalkboard"></i>
              <span class="menu-text">Wydarzenia</span>
            <% end %>
          </li>
          <li>
            <%= link_to requests_path(:command => "all") do %>
              <i class="fa fa-tasks"></i>
              <span class="menu-text">Zgłoszenia</span>
            <% end %>
          </li>
          <li>
            <%= link_to partners_path do %>
              <i class="fas fa-handshake"></i>
              <span class="menu-text">Partnerzy</span>
            <% end %>
          </li>
          <% if current_user.has_role?('admin') %>
            <li class="header-menu">
              <span>Administrator</span>
            </li>
            <li>
              <%= link_to users_path do %>
                <i class="fa fa-users"></i>
                <span class="menu-text">Użytkownicy</span>
              <% end %>
            </li>
            <li>
              <%= link_to tokens_path do %>
                <i class="fas fa-qrcode"></i>
                <span class="menu-text">Tokeny</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-footer  -->
    <div class="sidebar-footer">
      <div class="dropdown">

        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">
          <div class="notifications-header">
            <i class="fa fa-bell"></i>
            Notifications
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <div class="notification-content">
              <div class="icon">
                <i class="fas fa-check text-success border border-success"></i>
              </div>
              <div class="content">
                <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. In totam explicabo
                </div>
                <div class="notification-time">
                  6 minutes ago
                </div>
              </div>
            </div>
          </a>
          <a class="dropdown-item" href="#">
            <div class="notification-content">
              <div class="icon">
                <i class="fas fa-exclamation text-info border border-info"></i>
              </div>
              <div class="content">
                <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. In totam explicabo
                </div>
                <div class="notification-time">
                  Today
                </div>
              </div>
            </div>
          </a>
          <a class="dropdown-item" href="#">
            <div class="notification-content">
              <div class="icon">
                <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>
              </div>
              <div class="content">
                <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. In totam explicabo
                </div>
                <div class="notification-time">
                  Yesterday
                </div>
              </div>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-center" href="#">View all notifications</a>
        </div>
      </div>
      <div>
        <%= link_to adminsettings_path do %>
          <div class="fa fa-cog">
          </div>
        <% end %>
      </div>
      <div>
        <%= link_to help_path do %>
          <div class="fas fa-question">
          </div>
        <% end %>
      </div>
      <div>
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <div class="fa fa-power-off"></div>
        <% end %>
      </div>
      <div class="pinned-footer">
        <a href="#">
          <i class="fas fa-ellipsis-h"></i>
        </a>
      </div>
    </div>
  </nav>
  <%= yield %>
  <%= javascript_pack_tag 'adminpanel', media: 'all', 'data-turbolinks-track': 'reload' %>
</div>
</body>
</html>
