<!DOCTYPE html>
<html lang="pl">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Szkoła Podstawowa nr 60</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'test.css' %>
  <%= javascript_pack_tag 'application' %>
</head>
<body>
<%= yield %>
<%= javascript_pack_tag "test", 'data-turbolinks-track': 'reload' %>
</body>
</html>
